<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.AcademicItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM academicrules;
  </select>
  <select id="getPageBean" parameterType="pojo.PageBean" resultType="pojo.Academicrules">
    SELECT
    *
    FROM
    academicrules
    limit ${start},#{pageSize};
  </select>
    <select id="getAcademicTotalCount" resultType="java.lang.Integer">
        select COUNT(*) from academic
        <where>
            <if test="studentNumber!=null and studentNumber!= ''">
                stunum=#{studentNumber}
            </if>
            <if test="academicTime !=null and academicTime!=''">
              AND  academictime LIKE  CONCAT('${academicTime}','%')
            </if>
            <if test="academicDepartment !=null and academicDepartment!=''">
                AND  #{academicDepartment} = undertake
            </if>
        </where>
    </select>
    <select id="getAcademicPageBean" parameterType="hashMap" resultType="pojo.Academic">
      select * from academic
        <where>
            <if test="studentNumber!=null and studentNumber!= ''">
                stunum=#{studentNumber}
            </if>
            <if test="academicTime !=null and academicTime!=''">
                AND  academictime LIKE  CONCAT('${academicTime}','%')
            </if>
            <if test="academicDepartment !=null and academicDepartment!=''">
                AND  #{academicDepartment} = undertake
            </if>
        </where>
        limit #{pageBean.start},#{pageBean.pageSize}
    </select>
</mapper>