<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.AssociationItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    SELECT count(*) FROM associationrules
  </select>
  <select id="getPageBean" parameterType="pojo.PageBean" resultType="pojo.Associationrules">
    SELECT
    *
    FROM
    associationrules
    limit ${start},#{pageSize}
  </select>
  <select id="getAssociationImportTotalCount" resultType="java.lang.Integer">
    select count(*) from associationtype
    <where>
      <if test="associationTime !=null and associationTime != ''">
        #{associationTime} = associationtime
      </if>
      <if test="associationName != null and associationName != ''">
        AND  associationname = #{associationName}
      </if>
    </where>
  </select>
  <select id="getAssociationImportPageBean" parameterType="hashMap" resultType="pojo.Associationtype">
    select * from associationtype
    <where>
      <if test="associationTime !=null and associationTime != ''">
        #{associationTime} = associationtime
      </if>
      <if test="associationName != null and associationName != ''">
        AND  associationname = #{associationName}
      </if>
    </where>
    limit #{pageBean.start},#{pageBean.pageSize}
  </select>
  <select id="getAssociationTotalCount" resultType="java.lang.Integer">
    select count(*) from association
    <where>
      <if test="associationTime !=null and associationTime != ''">
        #{associationTime} = associationtime
      </if>
      <if test="associationName != null and associationName != ''">
        AND  associationname = #{associationName}
      </if>
      <if test="studentNumber != null and studentNumber != ''">
        AND  stunum = #{studentNumber}
      </if>
      <if test="associationLevel != null and associationLevel != ''">
        AND  associationlevel = #{associationLevel}
      </if>
    </where>
  </select>
  <select id="getAssociationPageBean" parameterType="hashMap" resultType="pojo.Association">
    select * from association
    <where>
      <if test="associationTime !=null and associationTime != ''">
        #{associationTime} = associationtime
      </if>
      <if test="associationName != null and associationName != ''">
        AND  associationname = #{associationName}
      </if>
      <if test="studentNumber != null and studentNumber != ''">
        AND  stunum = #{studentNumber}
      </if>
      <if test="associationLevel != null and associationLevel != ''">
        AND  associationlevel = #{associationLevel}
      </if>
    </where>
    limit #{pageBean.start},#{pageBean.pageSize}
  </select>
</mapper>