<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.AssociationRulesItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    SELECT count(*) FROM academicrules
  </select>
  <select id="getPageBean" parameterType="pojo.PageBean" resultType="pojo.Associationrules">
    SELECT
    *
    FROM
    associationrules
    limit ${start},#{pageSize}
  </select>
</mapper>