<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ContestItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM contestrules;
  </select>
  <select id="getPageBean" parameterType="pojo.PageBean" resultType="pojo.Contestrules">
    SELECT
    *
    FROM
    contestrules
    limit #{start},#{pageSize};
  </select>
  <select id="getContestImportTotalCount" resultType="java.lang.Integer">
    select count(*) from contesttype
     <where>
       <if test="contestDate !=null and contestDate != ''">
            #{contestDate} = contesttime
       </if>
       <if test="contestName != null and contestName != ''">
            AND  contesttype.contestname = #{contestName}
       </if>
     </where>
  </select>
  <select id="getContestImportPageBean" parameterType="hashMap" resultType="pojo.Contesttype">
    select * from contesttype
    <where>
        <if test="contestDate !=null and contestDate != ''">
          #{contestDate} = contesttime
        </if>
        <if test="contestName != null and contestName != ''">
          AND  #{contestName} = contestname
        </if>
    </where>
    limit #{pageBean.start},#{pageBean.pageSize}
  </select>
</mapper>