<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CredentialItemMapper" >
 <select id="getTotalCount" resultType="java.lang.Integer">
   select count(*) from credentialrules;
 </select>
  <select id="getPageBean" resultType="pojo.Credentialrules" parameterType="pojo.PageBean">
    select * from credentialrules limit #{start},#{pageSize};
  </select>
    <select id="getContestCount" resultType="pojo.Contest">
        select count(*) from contest
         <where>
            <if test="stuNum != null and stuNum != ''">
                  ${stuNum}=stunum
            </if>
             <if test="theme != null and theme != ''">
                 AND ${theme}=theme
             </if>
             <if test="rank != null and rank != ''">
                 AND ${rank}=rank
             </if>
             <if test="searchDate != null and searchDate != ''">
                AND  academictime LIKE  CONCAT('${searchDate}','%')
            </if>
         </where>
    </select>
</mapper>