<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PracticeItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    select count(*) from practicerules;
  </select>
  <select id="getPageBean" resultType="pojo.Practicerules" parameterType="pojo.PageBean">
    select * from practicerules limit #{start},#{pageSize};
  </select>
</mapper>