<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StudioMapper" >
  <resultMap id="BaseResultMap" type="pojo.Studio" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="studiotime" property="studiotime" jdbcType="VARCHAR" />
    <result column="facultyname" property="facultyname" jdbcType="VARCHAR" />
    <result column="studioname" property="studioname" jdbcType="VARCHAR" />
    <result column="studiolevel" property="studiolevel" jdbcType="VARCHAR" />
    <result column="teachername" property="teachername" jdbcType="VARCHAR" />
    <result column="responsibility" property="responsibility" jdbcType="VARCHAR" />
    <result column="stunum" property="stunum" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="REAL" />
    <result column="majorname" property="majorname" jdbcType="VARCHAR" />
    <result column="gradename" property="gradename" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="stuname" property="stuname" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, studiotime, facultyname, studioname, studiolevel, teachername, responsibility, 
    stunum, credit, majorname, gradename, department, stuname, url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.StudioExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studio
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studio
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.StudioExample" >
    delete from studio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.Studio" >
    insert into studio (id, studiotime, facultyname, 
      studioname, studiolevel, teachername, 
      responsibility, stunum, credit, 
      majorname, gradename, department, 
      stuname, url)
    values (#{id,jdbcType=INTEGER}, #{studiotime,jdbcType=VARCHAR}, #{facultyname,jdbcType=VARCHAR}, 
      #{studioname,jdbcType=VARCHAR}, #{studiolevel,jdbcType=VARCHAR}, #{teachername,jdbcType=VARCHAR}, 
      #{responsibility,jdbcType=VARCHAR}, #{stunum,jdbcType=VARCHAR}, #{credit,jdbcType=REAL}, 
      #{majorname,jdbcType=VARCHAR}, #{gradename,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{stuname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Studio" >
    insert into studio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studiotime != null" >
        studiotime,
      </if>
      <if test="facultyname != null" >
        facultyname,
      </if>
      <if test="studioname != null" >
        studioname,
      </if>
      <if test="studiolevel != null" >
        studiolevel,
      </if>
      <if test="teachername != null" >
        teachername,
      </if>
      <if test="responsibility != null" >
        responsibility,
      </if>
      <if test="stunum != null" >
        stunum,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="majorname != null" >
        majorname,
      </if>
      <if test="gradename != null" >
        gradename,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="stuname != null" >
        stuname,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studiotime != null" >
        #{studiotime,jdbcType=VARCHAR},
      </if>
      <if test="facultyname != null" >
        #{facultyname,jdbcType=VARCHAR},
      </if>
      <if test="studioname != null" >
        #{studioname,jdbcType=VARCHAR},
      </if>
      <if test="studiolevel != null" >
        #{studiolevel,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="responsibility != null" >
        #{responsibility,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null" >
        #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=REAL},
      </if>
      <if test="majorname != null" >
        #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="gradename != null" >
        #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.StudioExample" resultType="java.lang.Integer" >
    select count(*) from studio
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update studio
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.studiotime != null" >
        studiotime = #{record.studiotime,jdbcType=VARCHAR},
      </if>
      <if test="record.facultyname != null" >
        facultyname = #{record.facultyname,jdbcType=VARCHAR},
      </if>
      <if test="record.studioname != null" >
        studioname = #{record.studioname,jdbcType=VARCHAR},
      </if>
      <if test="record.studiolevel != null" >
        studiolevel = #{record.studiolevel,jdbcType=VARCHAR},
      </if>
      <if test="record.teachername != null" >
        teachername = #{record.teachername,jdbcType=VARCHAR},
      </if>
      <if test="record.responsibility != null" >
        responsibility = #{record.responsibility,jdbcType=VARCHAR},
      </if>
      <if test="record.stunum != null" >
        stunum = #{record.stunum,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=REAL},
      </if>
      <if test="record.majorname != null" >
        majorname = #{record.majorname,jdbcType=VARCHAR},
      </if>
      <if test="record.gradename != null" >
        gradename = #{record.gradename,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.stuname != null" >
        stuname = #{record.stuname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update studio
    set id = #{record.id,jdbcType=INTEGER},
      studiotime = #{record.studiotime,jdbcType=VARCHAR},
      facultyname = #{record.facultyname,jdbcType=VARCHAR},
      studioname = #{record.studioname,jdbcType=VARCHAR},
      studiolevel = #{record.studiolevel,jdbcType=VARCHAR},
      teachername = #{record.teachername,jdbcType=VARCHAR},
      responsibility = #{record.responsibility,jdbcType=VARCHAR},
      stunum = #{record.stunum,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=REAL},
      majorname = #{record.majorname,jdbcType=VARCHAR},
      gradename = #{record.gradename,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      stuname = #{record.stuname,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Studio" >
    update studio
    <set >
      <if test="studiotime != null" >
        studiotime = #{studiotime,jdbcType=VARCHAR},
      </if>
      <if test="facultyname != null" >
        facultyname = #{facultyname,jdbcType=VARCHAR},
      </if>
      <if test="studioname != null" >
        studioname = #{studioname,jdbcType=VARCHAR},
      </if>
      <if test="studiolevel != null" >
        studiolevel = #{studiolevel,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        teachername = #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="responsibility != null" >
        responsibility = #{responsibility,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null" >
        stunum = #{stunum,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=REAL},
      </if>
      <if test="majorname != null" >
        majorname = #{majorname,jdbcType=VARCHAR},
      </if>
      <if test="gradename != null" >
        gradename = #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="stuname != null" >
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Studio" >
    update studio
    set studiotime = #{studiotime,jdbcType=VARCHAR},
      facultyname = #{facultyname,jdbcType=VARCHAR},
      studioname = #{studioname,jdbcType=VARCHAR},
      studiolevel = #{studiolevel,jdbcType=VARCHAR},
      teachername = #{teachername,jdbcType=VARCHAR},
      responsibility = #{responsibility,jdbcType=VARCHAR},
      stunum = #{stunum,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=REAL},
      majorname = #{majorname,jdbcType=VARCHAR},
      gradename = #{gradename,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      stuname = #{stuname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>