<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StudioItemMapper" >
  <select id="getTotalCount" resultType="java.lang.Integer">
    select COUNT(*) from studiorules ;
  </select>
  <select id="getPageBean" parameterType="pojo.PageBean" resultType="pojo.Studiorules">
    SELECT
    *
    FROM
    studiorules
    limit #{start},#{pageSize}
  </select>
    <select id="getStudioImportTotalCount" resultType="java.lang.Integer">
        select count(*) from studiotype
        <where>
            <if test="studioName !=null and studioName != ''">
                #{studioName} = studioname
            </if>
            <if test="studioLevel != null and studioLevel != ''">
                AND  studiolevel = #{studioLevel}
            </if>
            <if test="studioDepartment != null and studioDepartment != ''">
                AND  department = #{studioDepartment}
            </if>
        </where>
    </select>
    <select id="getStudioImportPageBean" parameterType="hashMap" resultType="pojo.Studiotype">
        select * from studiotype
        <where>
            <if test="studioName !=null and studioName != ''">
                #{studioName} = studioname
            </if>
            <if test="studioLevel != null and studioLevel != ''">
                AND  studiolevel = #{studioLevel}
            </if>
            <if test="studioDepartment != null and studioDepartment != ''">
                AND  department = #{studioDepartment}
            </if>
        </where>
        limit #{pageBean.start},#{pageBean.pageSize}
    </select>
</mapper>